{% extends "base.html.twig" %}
{% block title %}
    ZAMUA | BIOGRAFIA
{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.4.0/css/lightgallery-bundle.min.css" integrity="sha512-91yJwfiGTCo9TM74ZzlAIAN4Eh5EWHpQJUfvo/XhpH6lzQtiRFkFRW1W+JSg4ch4XW3/xzh+dY4TOw/ILpavQA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}
{% block body %}

    <div class="bg-bio bg-main">
        <div class="container overlay">
            <!--<div class="black-square">
            <img src="./images/portrait-zamua.jpg" alt=""></div>-->
            <div class="block-title">
                <h1><span class="title1">BIO</span><span class="title2">GRAFIA</span></h1>
                <div class="block-title-after"></div>
            </div>
        </div>
        <div class="line-scroll">
            <a href="#toScroll">scroll</a>
            <div class="line"></div>
        </div>
    </div>
    <div id="toScroll"></div>
    
    <div class="biography first-section-text">
        <div class="container-text">
            
            <div class="block-text-first">
                <p class="mb-2 reveal-up line-height-l font-size-l">
                    Zamua è un cantante, chitarrista e songwriter
                    nato in Sardegna da madre sarda e da padre
                    burundese.
                </p>
            
                <p class="mb-2 reveal-up line-height-l font-size-l">
                    Inizia l’approccio al canto e alla chitarra quasi per caso, da adolescente,
                    durante un lungo periodo di convalescenza che lo vede costretto a letto. 
                    Da allora, Zamua si dedica alla musica e alla
                    scrittura sviluppando un intreccio personale
                    e emozionante tra folk e soul-jazz, lungo
                    una linea di confine tra l’analogico e
                    l’elettronico. Un risultato meticcio in cui
                    la narrazione e la forza della parola sono
                    essenziali.
                </p>
                <p class="mb-2 reveal-up line-height-l font-size-l">
                    Un continuo percorso esplorativo delle sue diverse identità musicali, tra vibrazioni soul, blues, folk, jazz, reggae.
                </p>
                <p class="mb-2 reveal-up line-height-l font-size-l">
                    Nel 1996, forma con Mastrone (S. Piras) il suo primo gruppo Cant’nde Reggae 
                    (F. Ortu alla batteria, M.Masala alle tastiere, L.Devito al flauto traverso, 
                    G.Demontis al basso, M.Barubiriza, M. Carroni, P.Musina ai cori, AbuMar alle percussioni,
                    Mastrone alla voce e Zamua alla chitarra e voce), a Nuoro, tra cantine e garage,
                    in un contesto di fermento artistico e creativo che vedeva il formarsi di diversi gruppi e 
                    realtà musicali reggae, jazz, rock, punk, ska, rap 
                    (Vok Rebelde, Seditio Plebeia, SMP, Menarka, Cosca Smeralda Quartet, Reggae Realidad…). 
                    Tutte realtà underground che crescevano comunicando tra loro, alimentandosi e stimolandosi a vicenda.
                    In questo periodo nasce il soprannome Zamua.
                </p>
                <p class="mb-2 reveal-up line-height-l font-size-l">
                    La musica entra a far parte della sua vita quasi come una necessità, 
                    il bisogno di costruire un ponte tra le sue diverse radici. 
                    Sempre alla ricerca di sé, Zamua parte in viaggio in compagnia della sua chitarra e della sua voce.
                </p>
                
            </div>
        </div>
        <div class="container-img">
            <div class="image">
                <h2 class="reveal-up">Un intreccio personale<br>tra folk e soul-jazz</h2>
                <img src="{{ asset('/images/portrait-zamua-3.jpg')}}" alt="Portrait di Zamua sul set del video EPK" class="image-fuild" width="500">
                   
                <div class="tooltip">
                    <span> photo by Chloé Dupeyrat - Acidulée Production</span>
                </div>

                <div class="block-1 reveal-height"></div>
                
                <div class="block-2 reveal-width"></div>
            </div>
        </div>
        
        
    </div>

    <div class="second-section-bio">
        <div class="container">
            <div class="first-block">
                
                <div class="block-text">
                    <div class="para-1">
                        <p class="mb-2 reveal-up line-height-l font-size-l">
                            Qualche anno dopo, approda a Napoli, dove inizia gli studi universitari e fonda, in parallelo, i Metisse, 
                            un progetto musicale dalla marcata impronta reggae roots.
                            Con i Metisse (A.Rubano al basso, V.Ciorra alla chitarra, M.Barubiriza e N.Rubano ai cori, 
                            D.Leone alla batteria, E.Capasso alle tastiere, R.Crispino alle percussioni e Zamua alla chitarra e voce) , 
                            Zamua continua le sue esperienze sonore meticce. 
                            Il nome stesso del progetto, Metisse, spiega e anticipa l’importanza chela fusione ricopre nella sua estetica
                            e il bisogno di una ricerca costante di commistioni musicali e contaminazioni multiformi.
                        </p>
                        <p class="mb-2 line-height reveal-up line-height-l font-size-l">
                            Nel 2003, Zamua inizia a lavorare a un nuovo progetto co-fondato con il tastierista e artista poliedrico,
                            Alessandro Capasso (oggi frontman dei Xhu) : ElephantAndCastle 
                            (A.Capasso alle tastiere, programming e voce, D.Sorrentino al basso, C.D’Avino alla batteria, R.Crispino alle percussioni 
                            e Zamua alla chitarra e voce). Un progetto d’impronta afro-jazz, la cui vera ragione d'essere è la fusione di generi.
                        </p>
                        <p class="mb-2 line-height reveal-up line-height-l font-size-l">
                            Il gusto per la sperimentazione prende sempre più forma e spazio nel processo creativo e di scrittura di Zamua.  
                        </p>
                        <p class="mb-2 line-height reveal-up line-height-l font-size-l">
                            Dopo una “breve” parentesi di 6 mesi in Tanzania e di 6 mesi in Egitto, nel 2006, Zamua approda in Francia, 
                            a Parigi, dove prosegue i suoi studi di Sociologia delle migrazioni.<br> 
                            Si interessa al diritto degli stranieri e al diritto d’asilo e inizia a lavorare con associazioni che accompagnano 
                            i richiedenti asilo nelle difficili procedure giuridiche e amministrative volte al riconoscimento dello status di rifugiato. 
                        </p>
                        <p class="mb-2 line-height reveal-up line-height-l font-size-l">
                            Qui prende forma il progetto solista di Zamua. 
                        </p>
                        <p class="mb-2 line-height reveal-up line-height-l font-size-l">
                            Continua la scrittura e le performance live nei club della capitale francese. 
                            Gli incontri e le amicizie danno slancio e contribuiscono a far maturare il suo progetto.
                            L'incontro e la collaborazione artistica con l’artista e produttore Shay Mané, 
                            l'ingegnere del suono Fabrice Ho-Shui-Ling e la fotografa-direttrice artistica Chloé Dupeyrat (Acidulée Production) 
                            é stato significativo.
                        </p>
                        <p class="mb-2 line-height reveal-up line-height-l font-size-l">
                            <strong>L’identità, la migrazione, il razzismo, il viaggio</strong> fisico e spirituale sono temi che trovano ampio spazio nella sua musica, 
                            come fonte di ispirazione e materia su cui lavorare e riflettere. <br>
                            <strong>L’allontanamento da ciò che è stabile e fermo,</strong> il profumo del viaggio avvolgono la maggior parte delle sue canzoni. 
                            I suoi testi, senza mai rifarsi apertamente all’autobiografia, raccontano <strong>una complessa trama di relazioni umane e connessioni emotive tra le cose ed
                            il vissuto.</strong>
                        </p>
                        <p class="mb-2 line-height reveal-up line-height-l font-size-l">
                            Nasce una musica fatta di commistioni e di aperture che portano 
                            Zamua a incontrare e a collaborare con altri artisti della scena jazz nazionale e internazionale come Raffaele Casarano, 
                            Flavio Boltro e Paolo Fresu.
                        </p>
                        <p class="mb-2 line-height reveal-up line-height-l font-size-l">
                            L’etichetta OD MusicLab (Shay Mané e Fabrice Ho-Shui-Ling) lo accompagna nella produzione del suo primo
                            EP dal titolo Litanie.

                        </p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>


    <div class="fourth-section-bio">
        <div class="wrapper-position">
            <div class="container">
                <div class="block-title">
                    
                    <h3 class="reveal-up">Una linea di confine<br> tra l’analogico e l’elettronico</h3>
                </div>
                <div class="block-btn">
                    <a href="{{ path('app_music')}}" class="btn-custom font-weight">MUSICA</a>
                </div>
                
                <div class="block-1 reveal-height"></div>
                <div class="block-2 reveal-height"></div>
                
                <img class="reveal-up image-fluid" src="{{ asset('/images/zamua-studio.jpg')}}" alt="Session di registrazione, Studio Piccolo a Parigi" width="600">
                
            </div>
        </div>
            
    </div>
    {% if media|length > 0 %}

        <div class="section-gallery">
            <h1 class="align-center">GALLERIA</h1>
            <div class=" d-none" id="icon-selecters-gallery">
                <i class="el-icon-caret-left"></i>
                <i class="el-icon-caret-right"></i>
            </div>
            <div class="container-lightgallery">
                
                
                <div id="lightgallery">
                    {% for item in media %}
                        <a href="{{asset(item.getFilePath)}}" class="reveal-up" {% if item.credit is defined %} data-sub-html="<span>{{ item.credit }}</span>" {% endif %}>
                            <img class="fluid-image" src="{{asset(item.getFilePath)}}"  {% if item.alt is defined %} alt="{{item.alt}}" {% endif %}>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="block-btn">
                <a href="{{ path('app_gallery')}}" class="btn-custom mx-auto font-weight">GALLERIA</a>
            </div>
        </div>
    
   {% endif %}
{%  endblock %}


{% block javascripts %}

    {{ parent()}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.4.0/lightgallery.umd.min.js" integrity="sha512-e+39qUKXdaNAHHzMx+zHLald62YcdVqJpJGAqs6iIJ6RRWy5/9PKJr1eDAc3SuM/PTpguz9v2d83j6SFgnbTdg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   <script src="{{ asset('js/bio.js')}}"></script>
   <script type="text/javascript">
    
        lightGallery(document.getElementById('lightgallery'));
   </script>

{% endblock %}