{% extends "base.html.twig" %}
{% block title %}
    ZAMUA |  {% trans %}BIOGRAPHY{% endtrans %}
{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.4.0/css/lightgallery-bundle.min.css" integrity="sha512-91yJwfiGTCo9TM74ZzlAIAN4Eh5EWHpQJUfvo/XhpH6lzQtiRFkFRW1W+JSg4ch4XW3/xzh+dY4TOw/ILpavQA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}
{% block body %}

    <div class="bg-bio bg-main">
        <div class="container overlay">
            <!--<div class="black-square">
            <img src="./images/portrait-zamua.jpg" alt=""></div>-->
            <div class="block-title">
                <h1>{% trans %}<span class="title1">BIO</span><span class="title2">GRAPHY</span>{% endtrans %}</h1>
                <div class="block-title-after"></div>
            </div>
        </div>
        <div class="line-scroll">
            <a href="#toScroll">scroll</a>
            <div class="line"></div>
        </div>
    </div>
    <div id="toScroll"></div>
    
    <div class="biography first-section-text">
        <div class="container-text">
            
            <div class="block-text-first">
                <p class="mb-2 reveal-up line-height-l font-size-l">
                {% trans %}
                    <strong>Zamua is a guitarist, singer, and songwriter. He was born in Sardinia to a Sardinian mother and a Burundian father.</strong>
                {% endtrans %}
                </p>
            
                <p class="mb-2 reveal-up line-height-l font-size-l">
                {% trans %}
                    His interest in singing and playing the guitar began almost by chance, during a long period of convalescence that saw him bedridden. 
                    itar began almost by chance, during a long period of convalescence that saw him bedridden. Since then, Zamua has devoted himself to music and literature, establishing 
                     <strong>a unique and thrilling combination of folk and soul-jazz, on a boundary between analog and electronica. 
                     A hybrid outcome in which storytelling and the effectiveness of language are key.</strong>

                {% endtrans %}
                </p>
                <p class="mb-2 reveal-up line-height-l font-size-l">
                    {% trans %}Continuous exploration of his various musical styles, including soul, blues, folk, jazz, and reggae. {% endtrans %}
                </p>
                <p class="mb-2 reveal-up line-height-l font-size-l">
                {% trans %}
                   In his hometown, in 1996, he formed <strong>his first group Cant'nde Reggae</strong> with his friend Mastrone 
                   (S. Piras) on vocal and F. Ortu on drums, M.Masala on keyboards, L.Devito on transverse flute, G.Demontis on bass, M.Barubiriza, 
                   M. Carroni and P. Musina on backing vocals, AbuMar on percussion and Zamua (guitar and vocals). 
                   Cant'ndeReggae lived between cellars and garages, <strong>in a context of artistic and creative ferment that gave birth to various 
                   groups and musical realities reggae, jazz, rock, punk, ska, rap (Vok Rebelde, Seditio Plebeia, SMP, Menarka, Cosca Smeralda Quartet, Reggae Realidad ...).</strong> 
                   All were underground realities that expanded through communication, feeding, and stimulating one another. During this time, the nickname Zamua was derived. 
                {% endtrans %}
                </p>
                <p class="mb-2 reveal-up line-height-l font-size-l">
                {% trans %}
                    <strong>Music became part of his life almost as a necessity, the need to build a bridge between his different roots.</strong> 
                    Zamua, always driven by a deep and intimate search, embarks on a trip with his guitar and his voice. 
                {% endtrans %}
                </p>
                
            </div>
        </div>
        <div class="container-img">
            <div class="image">
                <h2 class="reveal-up">{% trans %}A unique combination <br>of folk and soul-jazz{% endtrans %}</h2>
                <img src="{{ asset('/images/portrait-zamua-3.jpg')}}" alt="Portrait di Zamua sul set del video EPK" class="image-fuild" width="500">
                   
                <div class="tooltip">
                    <span> photo by Chloé Dupeyrat <a class="font-weight-bold" href="https://www.aciduleeprod.com/" target="_blank">Acidulée Production</a></span>
                </div>

                <div class="block-1 reveal-height"></div>
                
                <div class="block-2 reveal-width"></div>
            </div>
        </div>
        
        
    </div>

    <div class="second-section-bio">
        <div class="container">
            <div class="first-block">
                
                <div class="block-text">
                    <div class="para-1">
                        <p class="mb-2 reveal-up line-height-l font-size-l">
                        {% trans %}
                            He relocated to Naples, enrolled in university, and simultaneously launched <strong>the reggae-influenced musical group called Metisse.</strong>
                            Zamua continues his melting sound explorations with Metisse (A. Rubano on bass, V. Ciorra on guitar, M. Barubiriza and N. Rubano on backing vocals, D. Leone on drums, E. Capasso on keyboards, R. Crispino on percussion, and Zamua on guitar and vocals). 
                            "Metisse," indicates and foreshadows <strong>the significance of fusion to his style, as well as the significance of always seeking new methods to combine music and various aesthetic inspirations.</strong>
                        {% endtrans %}
                        </p>
                        <p class="mb-2 line-height reveal-up line-height-l font-size-l">
                        {% trans %}
                            In 2003, Zamua began working on a new project called ElephantAndCastle, co-founded with a keyboard player and producer Alessandro Capasso (Collettivo Cerchi e Xhu): <strong>ElephantAndCastle</strong>. "ElephantAndCastle" consists of the following members; (A. Capasso on keyboards, programming and vocals, D. Sorrentino on bass, C. D'Avino on drums, R. Crispino on percussion and Zamua on guitar and vocals).
                            <strong>An afro-jazz project, whose real "raison d'être" is the fusion of genres.</strong>
                        {% endtrans %}
                        </p>
                        <p class="mb-2 line-height reveal-up line-height-l font-size-l">
                            {% trans %}Zamua's passion for experimentation takes more and more shape and space within his creative and writing process.{% endtrans %}
                        </p>
                        <p class="mb-2 line-height reveal-up line-height-l font-size-l">
                        {% trans %}
                            After a "brief" interlude of six months each in both Tanzania and Egypt, in 2006 
                            <strong>Zamua relocated to Paris, France where he pursued his studies in Sociology of Migration</strong> 
                           He became interested in international laws related to foreign rights and asylum protection, therefore he began working with organizations that assist asylum seekers in navigating the complex legal and bureaucratic procedures required to obtain refugee status.

                        {% endtrans %}
                        </p>
                        <p class="mb-2 line-height reveal-up line-height-l font-size-l">
                            {% trans %}It was in Paris that Zamua's solo project took form.{% endtrans %}
                        </p>
                        <p class="mb-2 line-height reveal-up line-height-l font-size-l">
                        {% trans %}
                            He continued writing and performing live in various cultural spaces, Bars, etc in the French capital. 
                            His initiative is fueled by encounters and friendships, which contribute to its development.  
                            <strong>It was crucial to his journey that he met and collaborated artistically with producer and sound designer Shay Mané, 
                            sound engineer Fabrice Ho-Shui-Ling, and photographer and artistic director Chloé Dupeyrat (Acidulée Production) during this period.</strong>
                        {% endtrans %}
                        </p>
                        <p class="mb-2 line-height reveal-up line-height-l font-size-l">
                        {% trans %}
                            <strong>Identity, migration, racism, the physical and spiritual journey</strong>  are central issues in his music and source of inspiration, and an essential matter for his work and reflection.<br>
                            The concept of a spiritual trip, which encompasses the bulk of his compositions, signifies a separation from what is steady and dependable. 
                            Without ever stating it explicitly, his songs reveal  <strong>a complex tale about how people relate to one another and how events impact their emotions and experiences.</strong>
                        {% endtrans %}
                        </p>
                        <p class="mb-2 line-height reveal-up line-height-l font-size-l">
                        {% trans %}
                            As a result, Zamua has met and collaborated with Raffaele Casarano, Flavio Boltro, and Paolo Fresu, among others from the national and international jazz scene.
                        {% endtrans %}
                        </p>
                        <p class="mb-2 line-height reveal-up line-height-l font-size-l">
                        {% trans %}
                            Shay Mané and Fabrice Ho-Shui-Ling, who work for the OD MusicLab record label, assisted him in creating his debut EP, Litanie. 
                        {% endtrans %}
                        </p>
                        <p class="mb-2 line-height reveal-up line-height-l font-size-l font-weight-bold">
                        {% trans %}Currently, Zamua lives between France and Italy and he is working on his first album. {% endtrans %}
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>


    <div class="fourth-section-bio">
        <div class="wrapper-position">
            <div class="container">
                <div class="block-title">
                    
                    <h3 class="reveal-up">{% trans %}A borderline <br>between analogue and electronica.{% endtrans %}</h3>
                </div>
                <div class="block-btn">
                    <a href="{{ path('app_music')}}" class="btn-custom font-weight">{% trans %}MUSIC{% endtrans %}</a>
                </div>
                
                <div class="block-1 reveal-height"></div>
                <div class="block-2 reveal-height"></div>
                
                <img class="reveal-up image-fluid" src="{{ asset('/images/zamua-studio.jpg')}}" alt="Session di registrazione, Studio Piccolo a Parigi" width="600">
                
            </div>
        </div>
            
    </div>
    {% if media|length > 0 %}

        <div class="section-gallery">
            <h1 class="align-center">{% trans %}PHOTOS{% endtrans %}</h1>
            
            <div class="container-lightgallery">
                
                
                <div id="lightgallery">
                    {% for item in media %}
                        <a href="{{asset(item.getFilePath)}}" class="reveal-up" {% if item.credit is defined %} data-sub-html="<span>{{ item.credit }}</span>" {% endif %}>
                            <img class="fluid-image" src="{{asset(item.getFilePath)}}"  {% if item.alt is defined %} alt="{{item.alt}}" {% endif %}>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="block-btn">
                <a href="{{ path('app_gallery')}}" class="btn-custom mx-auto font-weight">{% trans %}PHOTOS{% endtrans %}</a>
            </div>
        </div>
    
   {% endif %}
{%  endblock %}


{% block javascripts %}

    {{ parent()}}
    {{encore_entry_script_tags('bio')}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.4.0/lightgallery.umd.min.js" integrity="sha512-e+39qUKXdaNAHHzMx+zHLald62YcdVqJpJGAqs6iIJ6RRWy5/9PKJr1eDAc3SuM/PTpguz9v2d83j6SFgnbTdg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   <script type="text/javascript">
    
        lightGallery(document.getElementById('lightgallery'), {
            mode: 'lg-fade',
            subHtmlSelectorRelative : true,
            // cssEasing : 'cubic-bezier(0.25, 0, 0.25, 1)'
        });
   </script>

{% endblock %}