{% extends "base.html.twig" %}
{% block title %}
    ZAMUA |  {% trans %}BIOGRAPHY{% endtrans %}
{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.4.0/css/lightgallery-bundle.min.css" integrity="sha512-91yJwfiGTCo9TM74ZzlAIAN4Eh5EWHpQJUfvo/XhpH6lzQtiRFkFRW1W+JSg4ch4XW3/xzh+dY4TOw/ILpavQA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}
{% block body %}

    <div class="bg-bio bg-main">
        <div class="container overlay">
            <!--<div class="black-square">
            <img src="./images/portrait-zamua.jpg" alt=""></div>-->
            <div class="block-title">
                <h1>{% trans %}<span class="title1">BIO</span><span class="title2">GRAPHY</span>{% endtrans %}</h1>
                <div class="block-title-after"></div>
            </div>
        </div>
        <div class="line-scroll">
            <a href="#toScroll">scroll</a>
            <div class="line"></div>
        </div>
    </div>
    <div id="toScroll"></div>
    
    <div class="biography first-section-text">
        <div class="container-text">
            
            <div class="block-text-first">
                <p class="mb-2 reveal-up line-height-l font-size-l">
                {% trans %}
                    Zamua is a singer, guitarist and songwriter born in Sardinia to a Sardinian mother and a Burundian father.
                {% endtrans %}
                </p>
            
                <p class="mb-2 reveal-up line-height-l font-size-l">
                {% trans %}
                    He began his approach to singing and guitar almost by chance, as a teenager, during a long period of convalescence that saw him bedridden. Since then, Zamua has dedicated himself to music and writing, developing a personal and exciting blend of folk and soul-jazz, along a borderline between analogue and electronic. A hybrid result in which narration and the power of words are essential.

                {% endtrans %}
                </p>
                <p class="mb-2 reveal-up line-height-l font-size-l">
                    {% trans %}A continuous exploration of his different musical identities, including soul, blues, folk, jazz and reggae vibes.{% endtrans %}
                </p>
                <p class="mb-2 reveal-up line-height-l font-size-l">
                {% trans %}
                   In his hometown, in 1996, he formed his first group Cant'nde Reggae with his friend Mastrone 
                   (S. Piras) on vocal and F. Ortu on drums, M.Masala on keyboards, L.Devito on transverse flute, G.Demontis on bass, M.Barubiriza, 
                   M. Carroni and P. Musina on backing vocals, AbuMar on percussion and Zamua (guitar and vocals). 
                   Cant'ndeReggae lived between cellars and garages, in a context of artistic and creative ferment that give birth to various 
                   groups and musical realities reggae, jazz, rock, punk, ska, rap (Vok Rebelde, Seditio Plebeia, SMP, Menarka, Cosca Smeralda Quartet, Reggae Realidad ...). 
                   All underground realities that grew by communicating with each other, feeding and stimulating each other. The nickname Zamua was born in this period.
                {% endtrans %}
                </p>
                <p class="mb-2 reveal-up line-height-l font-size-l">
                {% trans %}
                    Music became part of his life almost as a necessity, the need to build a bridge between his different roots. 
                    Always moved by a deep and intimate search, Zamua goes on a journey in the company of his guitar and his voice.
                {% endtrans %}
                </p>
                
            </div>
        </div>
        <div class="container-img">
            <div class="image">
                <h2 class="reveal-up">{% trans %}A personal blend <br>of folk and soul-jazz{% endtrans %}</h2>
                <img src="{{ asset('/images/portrait-zamua-3.jpg')}}" alt="Portrait di Zamua sul set del video EPK" class="image-fuild" width="500">
                   
                <div class="tooltip">
                    <span> photo by Chloé Dupeyrat - Acidulée Production</span>
                </div>

                <div class="block-1 reveal-height"></div>
                
                <div class="block-2 reveal-width"></div>
            </div>
        </div>
        
        
    </div>

    <div class="second-section-bio">
        <div class="container">
            <div class="first-block">
                
                <div class="block-text">
                    <div class="para-1">
                        <p class="mb-2 reveal-up line-height-l font-size-l">
                        {% trans %}
                            He landed in Naples, where he began his university studies and founded, in the meantime, Metisse, a reggae roots musical project.
                            With Metisse (A. Rubano on bass, V. Ciorra on guitar, M. Barubiriza and N. Rubano on backing vocals, D. Leone on drums, E. Capasso on keyboards, R. Crispino on percussion and Zamua on guitar and vocals), Zamua continues his melting sound experiences.
                            The very name of the project, Metisse, explains and anticipates the importance of fusion in its aesthetics and the need for a constant search for musical mixtures and multiform artistic influences.

                        {% endtrans %}
                        </p>
                        <p class="mb-2 line-height reveal-up line-height-l font-size-l">
                        {% trans %}
                            In 2003, Zamua began working on a new project co-founded with keyboard player and producer Alessandro Capasso (Collettivo Cerchi e Xhu): ElephantAndCastle (A. Capasso on keyboards, programming and vocals, D. Sorrentino on bass, C. D'Avino on drums, R. Crispino on percussion and Zamua on guitar and vocals).
                            An afro-jazz project, whose real "raison d'être" is the fusion of genres.
                        {% endtrans %}
                        </p>
                        <p class="mb-2 line-height reveal-up line-height-l font-size-l">
                            {% trans %}Zamua's passion for experimentation takes more and more shape and space within his creative and writing process.{% endtrans %}
                        </p>
                        <p class="mb-2 line-height reveal-up line-height-l font-size-l">
                        {% trans %}
                            After a "short" parenthesis of 6 months in Tanzania and 6 months in Egypt, in 2006, 
                            Zamua moved to France, in Paris, where he continued his studies in Sociology of Migration. 
                            He became interested in the law of foreigners and asylum and began to work with associations 
                            that accompany asylum seekers through the difficult legal and administrative procedures involved in obtaining refugee status. 
                        {% endtrans %}
                        </p>
                        <p class="mb-2 line-height reveal-up line-height-l font-size-l">
                            {% trans %}It was here that Zamua's solo project took shape.{% endtrans %}
                        </p>
                        <p class="mb-2 line-height reveal-up line-height-l font-size-l">
                        {% trans %}
                            He continued writing and performing live in clubs in the French capital. 
                            Meetings and friendships give impetus and contribute to the maturation of his project. 
                            During this period, the meet and artistic collaboration with producer-sound designer 
                            Shay Mané, sound engineer Fabrice Ho-Shui-Ling and photographer-artistic director Chloé Dupeyrat (Acidulée Production) was significant in his journey.
                        {% endtrans %}
                        </p>
                        <p class="mb-2 line-height reveal-up line-height-l font-size-l">
                        {% trans %}
                            <strong>Identity, migration, racism, the physical and spiritual journey</strong>  are central issues in his music, as a source of inspiration and an essential matter for work and reflection. <br>
                            <strong>The distancing from what is stable and firm,</strong> the idea of a sacred journey envelops most of his songs. 
                            His lyrics, without ever openly referring to autobiography, tell <strong>a complex story of human relationships and emotional connections between things and experiences.</strong>
                        {% endtrans %}
                        </p>
                        <p class="mb-2 line-height reveal-up line-height-l font-size-l">
                        {% trans %}
                            The result is a music made up of mixtures and connections that lead Zamua to meet and collaborate 
                            with other artists from the national and international jazz scene such as Raffaele Casarano, Flavio Boltro and Paolo Fresu.
                        {% endtrans %}
                        </p>
                        <p class="mb-2 line-height reveal-up line-height-l font-size-l">
                        {% trans %}
                            The OD MusicLab label (Shay Mané and Fabrice Ho-Shui-Ling) accompanied him in the production of his first EP entitled Litanie.
                        {% endtrans %}
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>


    <div class="fourth-section-bio">
        <div class="wrapper-position">
            <div class="container">
                <div class="block-title">
                    
                    <h3 class="reveal-up">{% trans %}A borderline <br>between analogue and electronic.{% endtrans %}</h3>
                </div>
                <div class="block-btn">
                    <a href="{{ path('app_music')}}" class="btn-custom font-weight">{% trans %}MUSIC{% endtrans %}</a>
                </div>
                
                <div class="block-1 reveal-height"></div>
                <div class="block-2 reveal-height"></div>
                
                <img class="reveal-up image-fluid" src="{{ asset('/images/zamua-studio.jpg')}}" alt="Session di registrazione, Studio Piccolo a Parigi" width="600">
                
            </div>
        </div>
            
    </div>
    {% if media|length > 0 %}

        <div class="section-gallery">
            <h1 class="align-center">{% trans %}PHOTOS{% endtrans %}</h1>
            <div class=" d-none" id="icon-selecters-gallery">
                <i class="el-icon-caret-left"></i>
                <i class="el-icon-caret-right"></i>
            </div>
            <div class="container-lightgallery">
                
                
                <div id="lightgallery">
                    {% for item in media %}
                        <a href="{{asset(item.getFilePath)}}" class="reveal-up" {% if item.credit is defined %} data-sub-html="<span>{{ item.credit }}</span>" {% endif %}>
                            <img class="fluid-image" src="{{asset(item.getFilePath)}}"  {% if item.alt is defined %} alt="{{item.alt}}" {% endif %}>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="block-btn">
                <a href="{{ path('app_gallery')}}" class="btn-custom mx-auto font-weight">{% trans %}PHOTOS{% endtrans %}</a>
            </div>
        </div>
    
   {% endif %}
{%  endblock %}


{% block javascripts %}

    {{ parent()}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.4.0/lightgallery.umd.min.js" integrity="sha512-e+39qUKXdaNAHHzMx+zHLald62YcdVqJpJGAqs6iIJ6RRWy5/9PKJr1eDAc3SuM/PTpguz9v2d83j6SFgnbTdg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   <script src="{{ asset('js/bio.js')}}"></script>
   <script type="text/javascript">
    
        lightGallery(document.getElementById('lightgallery'));
   </script>

{% endblock %}