{% extends "base.html.twig" %}
{% block title %}

{% trans %}CONTACT{% endtrans %}
{% endblock %}


{% block body %}

    <div class="bg-main bg-main-contact">
        <div class="container overlay">
            <div class="block-title">
                <h1>{% trans %}CONTACT{% endtrans %}</h1>
            </div>
            <div class="contact-section">
                <div class="form-container">
                    
                    
                    {# <form action="">
                        <div class="mb-3">
                            <label class="mb-1"  for="name">Nome</label>
                            <input type="text" name="name" id="name">
                        </div>
                        <div class="mb-3">
                            <label class="mb-1"  for="email">Email</label>
                            <input type="email" name="email" id="email">
                        </div>
                        <div class="mb-2">
                            <label class="mb-1"  for="message">Messaggio</label>
                            <textarea name="message" id="message" cols="30" rows="5"></textarea>
                        </div>
                        <div class="">
                            <a href="" class="btn-custom font-weight">INVIA</a>
                        </div>
                    </form> #}

                   {% if app.request.locale == 'fr' %}
                        {% set name = 'Nom' %}
                        {% set messageContent = 'Message' %}
                    {% elseif app.request.locale == 'en' %}
                        {% set name = 'Name' %}
                        {% set messageContent = 'Message' %}
                    {% else %}
                        {% set name = 'Nome' %}
                        {% set messageContent = 'Messaggio' %}
                   {% endif %}
                   

                    {{ form_start(form)}}
                     {% for message  in app.flashes('successMessage')%}
                        <div class="alert alert-success mb-4">
                            {{ message }}
                        </div>
                    {% endfor %}

                        <div class="mb-3">
                            {{ form_errors(form.senderName)}}
                            {{ form_label(form.senderName, name)}}
                            {{ form_widget(form.senderName)}}
                            
                        </div>
                          <div class="mb-3">
                            {{ form_errors(form.senderEmail)}}
                            {{ form_label(form.senderEmail)}}
                            {{ form_widget(form.senderEmail)}}
                            

                        </div>
                          <div class="mb-3">
                            {{ form_errors(form.content)}}
                            {{ form_label(form.content, messageContent)}}
                            {{ form_widget(form.content, {
                                'attr' : {
                                    'rows' : 8
                                }
                            } )}}
                           
                        </div>

                        <div class="">
                            <button type="submit" class="btn-custom font-weight">{% trans %} SEND {% endtrans %}</a>
                        </div>

                    {{ form_end(form)}}
                    
                    
                    <div class="infos">
                        <h2 class="mb-3 white">{% trans %}Booking and Management{% endtrans %} </h2>
                        <a class="mb-1" href="mailto:info@zamuamusic.com">info@zamuamusic.com</a>
                        <a class="mb-1" href="mailto:contact@zamuamusic.com">contact@zamuamusic.com</a>
                        <a class="mb-1" href="tel:+33615292630"> +33 6 15 29 26 30</a>
                        
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{%  endblock %}


{% block javascripts %}

    {{ parent()}}
   <script src="{{ asset('js/contact.js')}}"></script>

{% endblock %}