{% extends "base.html.twig" %}
{% block title %}
    HOME
{% endblock %}

{% block body %}

    <div class="bg-home bg-main">
        <div class="container overlay">
            <div class="block-text block-title">
                <h1>
                    <span class="text1">Quando la musica entra</span>
                    <span class="text2">nella tua vita, </span>
                    <span class="text3">é destinata a lasciare un segno indelebile</span>

                    
                </h1>
            </div>
            
        </div>
            <div class="line-scroll">
                <a href="#toScroll">scroll</a>
                <div class="line"></div>
            </div>
        </div>
    </div>
    
    <div class="first-section-text">
        
        
        <div id="toScroll"></div>
        <div class="container">
            <div class="para">
                   
                <p class="mb-2 line-height-l reveal-up font-size-l">
                
                    Zamua è un cantante, chitarrista e songwriter nato in Sardegna da madre sarda e da padre burundese.
                    
                </p>
                <p class="mb-2 line-height-l reveal-up font-size-l">
                    Il suo sogno era diventare un calciatore, 
                    ma si ritrova immobilizzato a letto in seguito a un incidente sul campo da calcio. 
                    Durante la convalescenza il suo amico Deodatus Nduwimana gli insegna a suonare la chitarra.
                    <strong><em>« Volevo semplicemente imparare a cantare Redemption Song, Bob Marley é il mio eroe ».</em></strong>
                </p>
                <p class="mb-2 line-height-l  reveal-up font-size-l">
                
                    <em>« La prima volta che cantai davanti alla mia famiglia avevo sette anni. Feci un rap.<br>
                    A casa nessuno ascoltava rap e ancora oggi mi chiedo dove sentii quella musica cosi potente!<br> 
                    Mio padre ascoltava spesso il jazz su Radio Rai 3. <br>Mi ricordo la tromba di Louis Amstrong la mattina, 
                    mentre facevamo colazione, le voci dei Ladysmith Black Mambazo, di Tracy Chapman, 
                    di Luigi Tenco, di Lucio Dalla e di Fabrizio De André.<br>
                    Oggi, quando riascolto la registrazione di quella prima performance, 
                    capisco che quando la musica colpisce, lascia un segno indelebile... » </em>
                    
                </p>
                <p class="mb-2 line-height-l  reveal-up font-size-l">
                
                    <strong>Questo segno resta intatto col passare del tempo, 
                    finché non realizzi che il modo migliore per vivere la musica é farla, vederla nascere...</strong>
                    
                </p>
                
                <div>
                    <a href="{{path('app_bio')}}" class="btn-custom">BIOGRAFIA</a>
                </div>
            </div>

        </div>
        
        
    </div>
    <div class="second-section">
       
        <div class="box-prez-ep reval-up">
        
            <div class="block-text">
                <h2 class="title reveal-up">LITANIE</h2>
                <h2 class="title-2 reveal-up">EP</h2>
                
                
                <div class="ep-section">
                    <div class="ep-infos-container">
                        <div class="img-ep reveal-up">
                            
                            <img src="{{ asset('images/pochette-ep.jpg')}}" alt="" width="350">
                            <div class="tooltip">
                                <span> photo and cover by Chloé Dupeyrat - Acidulée Production</span>
                            </div>
                            
                        </div>
                        <div class="reveal-up">
                            <div class="display-lg">
                                <iframe style="border: 0; width: 100%; height: 344px;" src="https://bandcamp.com/EmbeddedPlayer/album=2701316906/size=large/bgcol=333333/linkcol=e99708/artwork=none/transparent=true/" seamless><a href="https://zamua.bandcamp.com/album/litanie-ep">Litanie [EP] by Zamua</a></iframe>
                            </div>
                            
                            <div class="display-sm">
                                <iframe style="border: 0; width: 100%; height: 274px;" src="https://bandcamp.com/EmbeddedPlayer/album=2701316906/size=large/bgcol=333333/linkcol=0f91ff/artwork=none/transparent=true/" seamless><a href="https://zamua.bandcamp.com/album/litanie-ep">Litanie [EP] by Zamua</a></iframe>
                                {# <iframe style="border: 0; width: 400px; height: 274px;" src="https://bandcamp.com/EmbeddedPlayer/album=2701316906/size=large/bgcol=333333/linkcol=0f91ff/artwork=small/transparent=true/" seamless><a href="https://zamua.bandcamp.com/album/litanie-ep">Litanie [EP] by Zamua</a></iframe> #}
                            </div>
                        </div>
                    </div>
                </div>

                
                
            </div>
        </div>
    
    </div>
    <div class="section-music mb-4">
        <div class="block-text">
            <p class="mb-1 reveal-up line-height-l font-size-l">
                
                <strong>LITANIE</strong> é il primo EP di Zamua, prodotto dalla giovane etichetta indipendente OD MusicLab.<br>
                Il suo mini-album d’esordio offre un’immersione musicale atipica tra euforie e litanie, 
                e fa di questo artista un elemento inclassificabile ma indispensabile. 

            </p>
        </div>
        {# <div class="btn-container reveal-up">
            <a href="{{path('app_music')}}" class="btn">
                <div class="btn-stroke"></div>
                <div class="btn-text"> MUSICA</div>
                
            </a>
        </div> #}
        <a href="{{path('app_music')}}" class="btn-custom align-center">
             MUSICA
        </a>
    </div>

    {% if projects|length > 0 %}
    
    <div class="divider align-center">
        <img class="image-fluid" src="{{asset('images/divider.png')}}" alt="" width="180">
    </div>

    <div class="four-section-projects mb-3">
        <div class="">
            <h2 class="uppercase mb-4 reveal">Progetti </h2>
            <div class="container mb-4">
                
                {% for project in projects %}
                    <div class="image-project project-zamua-{{project.secondTitle|lower|replace({" " : "-"})}} reveal-up">
                        <div class="project-content">
                            <div class="project-details">
                                <h2 class="">{{project.mainTitle}}</h2>
                            </div>
                        </div>
                    </div>  

                {% endfor %}
                
            </div>
        </div>    
            {# <div class="align-center">
                <a href="{{path('app_projects')}}" class="btn">
                    <div class="btn-stroke"></div>
                    <div class="btn-text">PROGETTI</div>
                    
                </a>
            </div> #}
            <a href="{{path('app_projects')}}" class="btn-custom mx-auto">PROGETTI</a>
        
    </div>
    {% endif %}
    
    <div class="section-contact-home" id="contact-frame">
        <div class="container overlay">
            <div class="main-form-container">
                <div class="contact-container">
                    <h2 class="mb-3 white">CONTATTI</h2>
                    {{ form_start(form)}}
                        {% for message  in app.flashes('successMessage')%}
                        <div class="alert alert-success mb-4">
                            {{ message }}
                        </div>
                        {% endfor %}

                        <div class="mb-3">
                            {{ form_errors(form.senderName)}}
                            {{ form_label(form.senderName)}}
                            {{ form_widget(form.senderName)}}
                            
                        </div>
                          <div class="mb-3">
                            {{ form_errors(form.senderEmail)}}
                            {{ form_label(form.senderEmail)}}
                            {{ form_widget(form.senderEmail)}}
                            

                        </div>
                          <div class="mb-3">
                            {{ form_errors(form.content)}}
                            {{ form_label(form.content)}}
                            {{ form_widget(form.content)}}
                           
                        </div>

                        <div class="">
                            <button type="submit" class="btn-custom font-weight">INVIA</a>
                        </div>

                    {{ form_end(form)}}
                    {# <form action="">
                        <div class="mb-3">
                            <label class="mb-1"  for="name">Nome</label>
                            <input type="text" name="name" id="name">
                        </div>
                        <div class="mb-3">
                            <label class="mb-1"  for="email">Email</label>
                            <input type="email" name="email" id="email">
                        </div>
                        <div class="mb-2">
                            <label class="mb-1"  for="message">Messaggio</label>
                            <textarea name="message" id="message" cols="30" rows="5"></textarea>
                        </div>
                       
                        <div class="align-right">
                            <a href="" class="btn-custom font-weight">INVIA</div></a>
                        </div>
                    </form> #}
                </div>
                
                <div class="infos">
                    <h3 class="mb-3 white">Booking e Management</h3>
                    <a class="mb-1" href="mailto:info@zamuamusic.com">info@zamuamusic.com</a>
                    <a href="mailto:contact@zamuamusic.com">contact@zamuamusic.com</a>
                </div>
            </div>
        </div>
        
        
        
    </div>
    

{% endblock %}

{% block javascripts %}

    {{ parent()}}
   <script src="{{ asset('js/index.js')}}"></script>

{% endblock %}