{% extends "base.html.twig" %}
{% block title %}
    HOME
{% endblock %}

{% block body %}

    <div class="bg-home bg-main">
        <div class="container overlay">
            <div class="block-logo-text">
                <div class="block-text block-title">
                    <h1>
                        <span class="text1">Quando la musica entra</span>
                        <span class="text2">nella tua vita, </span>
                        <span class="text3">é destinata a lasciare un segno indelebile</span>     
                    </h1>
                </div>
            </div>
        </div>
            <div class="line-scroll">
                <a href="#toScroll">scroll</a>
                <div class="line"></div>
            </div>
        </div>
    </div>
    <div class="first-section-text">
        <div class="">
            <div id="toScroll"></div>
            <div class="container">
                <div class="para">
                    <h2 class="uppercase reveal">BIO<span class="white">GRAFIA</span></h2>
                    <p class="mb-2 line-height reveal-up">
                    
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Eaque dolores accusantium autem iste? 
                        Reprehenderit debitis eum, aspernatur ab ex aperiam, 
                        atque quidem impedit cum quis inventore saepe, dicta 
                            earum nulla.
                        
                    </p>
                    <p class="mb-2 line-height  reveal-up">
                    
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Eaque dolores accusantium autem iste? 
                        Reprehenderit debitis eum, aspernatur ab ex aperiam, 
                        atque quidem impedit cum quis inventore saepe, dicta 
                            earum nulla.
                        
                    </p>
                    <p class="mb-2 line-height  reveal-up">
                    
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Eaque dolores accusantium autem iste? 
                        Reprehenderit debitis eum, aspernatur ab ex aperiam, 
                        atque quidem impedit cum quis inventore saepe, dicta 
                            earum nulla.
                        
                    </p>
                    <div class=" reveal-up">
                        <a href="{#{path('app_bio')}#}" class="btn">
                            <div class="btn-stroke"></div>
                            <div class="btn-text">BIOGRAFIA</div>
                            
                        </a>
                    </div>
                    
                </div>

                <div class="images-for-bio">
                    <img src="{{ asset('images/zamua-live-3-thumbnail.jpg')}}" class="image-fluide reveal-up" alt="">
                    <img src="{{ asset('images/zamua-live.jpg')}}" class="image-fluide reveal-up" alt="">
                    
                </div>
            </div>
        </div>
        
    </div>

    
    
    <div class="third-section-text bg-settings">
        <div class="overlay">
            <div class="container">
                <div class="block-text reveal-up">
                    <h2 class="title align-center">LITANIE - EP</h2>
                    <p class="mb-1">
                        
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Eaque dolores accusantium autem iste? 
                        Reprehenderit debitis eum, aspernatur ab ex aperiam, 
                        atque quidem impedit cum quis inventore saepe, dicta 
                        earum nulla.
                    </p>
                    <div class="btn-container reveal-up">
                        <a href="musica.html" class="btn">
                            <div class="btn-stroke"></div>
                            <div class="btn-text"> MUSICA</div>
                            
                        </a>
                    </div>
                </div>
                <div class="ep-section">
                    <div class="ep-infos-container">
                        <div class="img-ep reveal-up display-lg">
                            
                            <img src="{{ asset('images/pochette-ep.jpg')}}" alt="" width="350">
                            
                        </div>
                        <div class="reveal-down">
                            <div class="display-lg">
                                <iframe style="border: 0; width: 100%; height: 344px;" src="https://bandcamp.com/EmbeddedPlayer/album=2701316906/size=large/bgcol=333333/linkcol=e99708/artwork=none/transparent=true/" seamless><a href="https://zamua.bandcamp.com/album/litanie-ep">Litanie [EP] by Zamua</a></iframe>
                            </div>
                            
                            <div class="display-sm">
                                <iframe style="border: 0; width: 400px; height: 274px;" src="https://bandcamp.com/EmbeddedPlayer/album=2701316906/size=large/bgcol=333333/linkcol=0f91ff/artwork=small/transparent=true/" seamless><a href="https://zamua.bandcamp.com/album/litanie-ep">Litanie [EP] by Zamua</a></iframe>
                            </div>
                            
                        </div>
                        
        
                    </div>
                    
                    
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="four-section-projects">
        <div class=" reveal reveal-up">
            <h2 class="uppercase mb-4">Progetti</h2>
            <div class="container mb-4">
                

                <div class="image-project project-solo">
                    <div class="project-content">
                        <div class="project-details">
                            <h2 class="">Zamua in solo</h2>
                            
                        </div>
                    </div>
                    
                </div>
                <div class="image-project project-band">
                    <div class="project-content">
                        <div class="project-details">
                            <h2 class="">Zamua Band</h2>
                        </div>
                    </div>
                    
                </div>
                <div class="image-project project-zamua-casarano">
                    <div class="project-content">
                        <div class="project-details">
                            <h2 class="">Zamua e Raffaele Casarano</h2>
                        </div>
                    </div>
                    
                </div>
                <div class="image-project project-zamua-boltro">
                    <div class="project-content">
                        <div class="project-details">
                            <h2 class="">Zamua e Flavio Boltro</h2>
                        </div>
                    </div>
                    
                </div>
                <div class="image-project project-zamua-laviko">
                    <div class="project-content">
                        <div class="project-details">
                            <h2 class="">Zamua e Ensemble Laviko</h2>
                        </div>
                    </div>
                    
                </div>
                <div class="image-project project-zamua-blog">
                    <div class="project-content">
                        <div class="project-details">
                            <h2 class="">BLOG - Memoria De/Coloniale</h2>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="align-center">
                <a href="{{path('app_projects')}}" class="btn">
                    <div class="btn-stroke"></div>
                    <div class="btn-text">PROGETTI</div>
                    
                </a>
            </div>
        </div>
        
    </div>
    <div class="section-contact-home">
        <div class="container overlay">
            <div class="main-form-container">
                <div class="contact-container">
                    <h2 class="mb-3 white">CONTATTI</h2>
                    <form action="">
                        <div class="mb-3">
                            <label class="mb-1"  for="name">Nome</label>
                            <input type="text" name="name" id="name">
                        </div>
                        <div class="mb-3">
                            <label class="mb-1"  for="email">Email</label>
                            <input type="email" name="email" id="email">
                        </div>
                        <div class="mb-2">
                            <label class="mb-1"  for="message">Messaggio</label>
                            <textarea name="message" id="message" cols="30" rows="5"></textarea>
                        </div>
                        <div class="align-right">
                            <a href="" class="btn font-weight">
                                <div class="btn-stroke"></div>
                                <div class="btn-text">INVIA</div>
                                
                            </a>
                        </div>
                    </form>
                </div>
                
                <div class="infos">
                    <h3 class="mb-3 white">Booking e Management</h3>
                    <a class="mb-1" href="mailto:info@besound.com">info@besound.com</a>
                    <a href="mailto:contact@zamua-live.com">contact@zamuamusic.com</a>
                </div>
            </div>
        </div>
        
        
        
    </div>
    

{% endblock %}

{% block javascripts %}

    {{ parent()}}
   <script src="{{ asset('js/index.js')}}"></script>

{% endblock %}