{% extends "base.html.twig" %}
{% block title %}
    HOME
{% endblock %}

{% block body %}

    <div class="bg-home bg-main">
        <div class="container overlay">
            <div class="block-text block-title">
                <h1>
                
                    <span class="text1">{% trans %}When music enters {% endtrans %}</span>
                    <span class="text2">{% trans %}your life, {% endtrans %}</span>
                    <span class="text3">{% trans %}it is bound to leave an indelible mark{% endtrans %}</span>
                
                </h1>
            </div>
            
        </div>
            <div class="line-scroll">
                <a href="#toScroll">scroll</a>
                <div class="line"></div>
            </div>
        </div>
    </div>
    
    <div class="first-section-text">
        
        
        <div id="toScroll"></div>
        <div class="container">
            <div class="para">
                   
                {# <p class="mb-2 line-height-l reveal-up font-size-l">
                
                    {% trans %}Zamua is a singer, guitarist, and songwriter. He was born in Sardinia to a Sardinian mother and a Burundian father.{% endtrans %}
                    
                </p>
                <p class="mb-2 line-height-l reveal-up font-size-l">
                    {% trans %}
                    His dream was to become a footballer, but he found himself bedridden after an accident on the football field. 
                    During his convalescence, his friend Deodatus Nduwimana taught him how to play the guitar. 
                    <strong><em>"I just wanted to learn the Redemption Song, Bob Marley was my hero."</em></strong>
                    {% endtrans %}
                </p> #}
                <p class="mb-2 line-height-l  reveal-up font-size-l">
                
                    {% trans %}
                    <em>"The first time I sang in front of someone, I was seven years old. It was in front of my family. I did something that vaguely sounded like rap music.<br>
                    There was no rap music being played at home; in fact, I'm still not sure where I got that powerful music from... <br> 
                    My father often listened to jazz radio shows. I recall Louis Armstrong's trumpet playing in the mornings while we ate breakfast, as well as the vocals of Ladysmith Black Mambazo, Tracy Chapman, Luigi Tenco, Lucio Dalla, and Fabrizio De André. <br>
                    <strong>Today, when I listen to the recording of that first so-called performance, I understand that when the music hits, it leaves an indelible mark... </strong> "</em>
                    {% endtrans %}
                    
                </p>
                <p class="mb-2 line-height-l  reveal-up font-size-l">
                
                    {% trans %}
                    <strong>This sensation endures until one realizes that the greatest way to appreciate music is to create it, to bring it to life...</strong>
                    {% endtrans %}
                    
                </p>
                
                <div>
                    <a href="{{path('app_bio')}}" class="btn-custom">{% trans %}BIOGRAPHY{% endtrans %}</a>
                </div>
            </div>

        </div>
        
        
    </div>
    <div class="second-section">
       
        <div class="box-prez-ep reval-up">
        
            <div class="block-text">
                <h2 class="title reveal-up">{% trans %}LITANIE{% endtrans %}</h2>
                <h2 class="title-2 reveal-up">EP</h2>
                
                
                <div class="ep-section">
                    <div class="ep-infos-container">
                        <div class="img-ep reveal-up">
                            
                            <img src="{{ asset('images/pochette-ep.jpg')}}" alt="">
                            <div class="tooltip">
                                <span> photo and cover by Chloé Dupeyrat <a class="font-weight-bold" href="https://www.aciduleeprod.com/" target="_blank">Acidulée Production</a></span>
                            </div>
                            
                        </div>
                        <div class="reveal-up">
                            <div class="display-lg">
                                <iframe style="border: 0; width: 100%; height: 344px;" src="https://bandcamp.com/EmbeddedPlayer/album=2701316906/size=large/bgcol=333333/linkcol=e99708/artwork=none/transparent=true/" seamless><a href="https://zamua.bandcamp.com/album/litanie-ep">Litanie [EP] by Zamua</a></iframe>
                            </div>
                            
                            <div class="display-sm">
                                <iframe style="border: 0; width: 100%; height: 274px;" src="https://bandcamp.com/EmbeddedPlayer/album=2701316906/size=large/bgcol=333333/linkcol=0f91ff/artwork=none/transparent=true/" seamless><a href="https://zamua.bandcamp.com/album/litanie-ep">Litanie [EP] by Zamua</a></iframe>
                                {# <iframe style="border: 0; width: 400px; height: 274px;" src="https://bandcamp.com/EmbeddedPlayer/album=2701316906/size=large/bgcol=333333/linkcol=0f91ff/artwork=small/transparent=true/" seamless><a href="https://zamua.bandcamp.com/album/litanie-ep">Litanie [EP] by Zamua</a></iframe> #}
                            </div>
                        </div>
                    </div>
                </div>

                
                
            </div>
        </div>
    
    </div>
    <div class="section-music mb-4">
        <div class="block-text">
            <p class="mb-1 reveal-up line-height-l font-size-l">
                {% trans %}
                <strong>LITANIE</strong>  is Zamua's first EP, produced by the young independent label OD MusicLab. 
                His debut mini-album is <strong> a unique blend of ecstatic feelings and litanies,</strong>making it hard to categorize his art form yet essential to know about. 
                {% endtrans %}
            </p>
        </div>
        
        <a href="{{path('app_music')}}" class="btn-custom align-center">
            {% trans %} MUSIC {% endtrans %}
        </a>
    </div>

   
{#     
    <div class="divider align-center">
        <img class="image-fluid" src="{{asset('images/divider.png')}}" alt="" width="180">
    </div> 
#}

    <div class="four-section-projects">
        <div class="container overlay">
            <h2 class="uppercase mb-4 reveal-up"> {% trans %} Zamua's projects {% endtrans %}</h2>
            <div class="content mb-4">
                <p class="reveal-up mb-2">
                    {% trans %}Zamua is involved in different musical projects and he collaborates with many artists and performers.{% endtrans %}
                </p>
                <p class="reveal-pp mb-2 reveal-up">
                    {% trans %}Who are they? What these projects and featuring are about?{% endtrans %}
                </p>
                <p class="reveal-up reveal-up">
                    {% trans %}Let find out more!{% endtrans %}
                </p>
                

            </div>
            <a href="{{path('app_projects')}}" class="btn-custom mx-auto">{% trans %} PROJECTS {% endtrans %}</a>
        </div>
    </div>
    
    
    <div class="section-contact-home" id="contact-frame">
        <div class="container overlay">
            <div class="main-form-container">
                <div class="contact-container">
                    <h2 class="mb-3 white">{% trans %} CONTACT {% endtrans %}</h2>
                    
                    {% if app.request.locale == 'fr' %}
                        {% set name = 'Nom' %}
                        {% set messageContent = 'Message' %}
                    {% elseif app.request.locale == 'en' %}
                        {% set name = 'Name' %}
                        {% set messageContent = 'Message' %}
                    {% else %}
                        {% set name = 'Nome' %}
                        {% set messageContent = 'Messaggio' %}
                   {% endif %}
                    
                    {{ form_start(form)}}
                        {% for message  in app.flashes('successMessage')%}
                        <div class="alert alert-success mb-4">
                            {{ message }}
                        </div>
                        {% endfor %}

                        <div class="mb-3">
                            {{ form_errors(form.senderName)}}
                            {{ form_label(form.senderName, name)}}
                            {{ form_widget(form.senderName)}}
                            
                        </div>
                          <div class="mb-3">
                            {{ form_errors(form.senderEmail)}}
                            {{ form_label(form.senderEmail)}}
                            {{ form_widget(form.senderEmail)}}
                            

                        </div>
                          <div class="mb-3">
                            {{ form_errors(form.content)}}
                            {{ form_label(form.content, messageContent)}}
                            {{ form_widget(form.content)}}
                           
                        </div>

                        <div class="">
                            <button type="submit" class="btn-custom font-weight">{% trans %} SEND {% endtrans %}</a>
                        </div>

                    {{ form_end(form)}}
                   
                </div>
                
                <div class="infos">
                    <h3 class="mb-3 white">{% trans %} Booking and Management {% endtrans %}</h3>
                    <a class="mb-1" href="mailto:info@zamuamusic.com">info@zamuamusic.com</a>
                    <a href="mailto:contact@zamuamusic.com">contact@zamuamusic.com</a>
                </div>
            </div>
        </div>
        
        
        
    </div>
    

{% endblock %}

{% block javascripts %}

    {{ parent()}}
    {{ encore_entry_script_tags('home')}}

{% endblock %}