<html>
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('css/login.css')}}">
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Liu+Jian+Mao+Cao&family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
        {% endblock %}

    </head>
    <body>
        <div class="loader-wrapper">
            <div class="block-loader"></div>
            <img src="{{ asset('images/logo.png')}}" class="image-fluid animation" alt="">
        </div>
        <div class="navigation-panel" id="main-panel">
            <div id="icon-container">
                <i class="el-icon-circle-close"></i>
            </div>
            <ul>
                <li class="navigation-panel-item">
                    <a href="{{ path('app_home')}}">HOME</a>
                </li>
                <li class="navigation-panel-item ">
                    <a href="{{ path('app_bio')}}">BIO</a>
                </li>
                <li class="navigation-panel-item">
                    <a href="{{ path('app_music')}}">MUSICA</a>
                </li>
                <li class="navigation-panel-item ">
                    <a href="{{ path('app_shows')}}">SHOWS</a>
                </li>
                <li class="navigation-panel-item">
                    <a href="{{ path('app_listenings')}}">I MIEI ASCOLTI</a>
                </li>
                <li class="navigation-panel-item">
                    <a href="{{ path('app_gallery')}}">GALLERIA</a>
                </li>
                <li class="navigation-panel-item">
                    <a href="{{ path('app_video')}}">VIDEO</a>
                </li>
                <li class="navigation-panel-item">
                    <a href="{{ path('app_projects')}}">PROGETTI</a>
                </li>
                <li class="navigation-panel-item">
                    <a href="{{ path('app_contact')}}">CONTATTI</a>
                </li>
            </ul>
        </div>
        <header>
            <div id="brand-logo">
                <a href="{{ path('app_home')}}">
                    <img class="ml-2 first" src="./images/logo.png" alt="" width="180">
                    <img class="ml-2 second" src="./images/logo.png" alt="" width="120">
                </a>
            </div>
            
            <div class="menu">
                <div class="active-page">
                    <p class="uppercase">Login</p>
                    <div class="active-block"></div>
                </div>
                <div class="burger" id="burger-panel">
                    <div class="stroke burger1"></div>
                    <div class="stroke burger2"></div>
                    <div class="stroke burger3"></div>
                </div>
            </div>
        </header>
        
        <div class="bg-login">
            <div class="container overlay">
                <div class="form-container">
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        {% endif %}

                        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                        <div class="mb-2">
                            <label for="inputEmail">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                        </div>
                        
                        <div class="mb-2">
                            <label for="inputPassword">Password</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                        </div>
                        

                        <input type="hidden" name="_csrf_token"
                            value="{{ csrf_token('authenticate') }}"
                        >

                        {#
                            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                            See https://symfony.com/doc/current/security/remember_me.html

                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" name="_remember_me"> Remember me
                                </label>
                            </div>
                        #}
                        <button class="" type="submit">
                            Sign in
                        </button>
                    </form>
                </div>
                
            </div>
        </div>
        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
            <!-- import du JavaScript -->
        
            <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
            <script src="https://unpkg.com/element-ui/lib/index.js"></script>

        {% endblock %}
    </body>
</html>

