{% extends "base.html.twig" %}
{% block title %}
    ZAMUA | MUSICA
{% endblock %}


{% block body %}

        <div class="bg-main bg-main-music">
        <div class="container overlay">
            <div class="block-title">
                <h1><span class="title1">La </span><span class="title2">musica</span><span class="title3"> é </span><span class="title-dots">...</span></h1>
                
            </div>
        </div>
        <div class="line-scroll">
            <a href="#toScroll">scroll</a>
            <div class="line"></div>
        </div>
    </div>

    <div id="toScroll"></div>
    <div class="music-first-section">
        
        <div class="container">
            <div class="block-text">
                <p class="mb-1 line-height-l font-size-l">
                    La musica è urgenza e necessità impellente di condivisione della propria voce, della propria anima, della propria presenza.
                    <strong>Uno strumento per sviluppare un senso critico sulla nostra esperienza nella società in cui viviamo.</strong> <br>
                    Fare musica, mette al centro la persona che crea, che parla e la persona che ascolta; 
                    è il principio e la fine di un percorso verso l’autodeterminazione.
                    Un mezzo per toccare il cuore delle persone, per comunicare un’immagine, un’idea, un concetto, 
                    per dare un senso alla percezione della realtà.
                </p>
                <p class="mb-1 line-height-l font-size-l">
                    <strong>La musica crea un ponte tra il mondo interiore e il mondo esteriore. 
                    Permette di tradurre in forma sensibile, i segreti dell’anima, 
                    segreti che neanche noi stessi sappiamo spiegare ma che a volte riescono a fuoriuscire attraverso le note.</strong>
                </p>
                
                <p class="mb-1 line-height-l font-size-l">
                    <em>"Vivo la musica in modo quasi maniacale, la faccio da quando ero ragazzino.
                    Attraverso la musica, e in modo particolare attraverso il canto, riesco a <strong>intraprendere un percorso di ricerca e di 
                    riflessione su questioni per me centrali come l’identità</strong>, o meglio, le nostre identità, fluide, mutevoli, 
                    mai identiche a se stesse, in un movimento che annienta ogni idea di confine fisico e immaginario tra il “Noi” e il “Loro”".</em> 

                <p class="mb-1 line-height-l font-size-l">
                    <em>"La Musica è stata, lo è tuttora, un elemento fondamentale della mia esistenza.
                    Non esiste un genere musicale, parto dai miei due strumenti, la voce e la chitarra. 
                    E da li inizio a lavorare, a costruire, a raccontare una storia.
                    <strong>Cerco di dare forma a un'estetica, la trama di un viaggio tra i miei universi musicali quali il soul, il jazz, il reggae, 
                    la musica elettronica…. Mi lascio attraversare da questo bagaglio per poi far nascere brani profondamente ibridi.”</strong></em>

                </p>
                
            </div>
            {# <div class="block1 reveal-width"></div> #}
        </div>
        
    </div>

    
    <div class="music-second-section">
    
        <div class="ep-infos-container mb-1">

        
            {# <div class="img-ep reveal">
                
                <img class="image-fluid" src="{{ asset('images/pochette-ep.jpg')}}" alt="" width="350">
                
            </div> #}
            <div class="reveal-up">
                <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=2701316906/size=large/bgcol=ffffff/linkcol=333333/tracklist=false/transparent=true/" seamless><a href="https://zamua.bandcamp.com/album/litanie-ep">Litanie [EP] by Zamua</a></iframe>
                {# <iframe style="border: 0; width: 300px; height: 588px;" src="https://bandcamp.com/EmbeddedPlayer/album=2701316906/size=large/bgcol=ffffff/linkcol=e99708/transparent=true/" seamless><a href="https://zamua.bandcamp.com/album/litanie-ep">Litanie [EP] by Zamua</a></iframe> #}
                {# <iframe style="border: 0; width: 100%; height: 344px;" src="https://bandcamp.com/EmbeddedPlayer/album=2701316906/size=large/bgcol=333333/linkcol=e99708/artwork=none/transparent=true/" seamless><a href="https://zamua.bandcamp.com/album/litanie-ep">Litanie [EP] by Zamua</a></iframe> #}
            </div>
            

        </div>
        <div class="audio-container reveal-up">
            <div class="cover-album">
                <img class="image-fluid" src="{{ asset('images/ibelieve.jpg')}}" alt="" width="300">
            </div>
            <div class="track-container">
                <figure>
                    <figcaption>
                        <h3 class="title">I believe (single)</h3>
                    </figcaption>
                    <audio
                        controls
                        src="{{asset('audio/i-believe-zamua.mp3')}}">
                            Your browser does not support the
                            <code>audio</code> element.
                    </audio>
                </figure>
            </div>
        </div>
     
        <div class="audio-container reveal-up">
            <div class="cover-album">
                <img class="image-fluid" src="{{ asset('images/distance.jpg') }}" alt="" width="300">
            </div>
            <div class="track-container">
                <figure>
                    <figcaption>
                        <h3 class="title">Distance (single)</h3>
                    </figcaption>
                    <audio
                        controls
                        src="{{asset('audio/distance-zamua.mp3')}}">
                            Your browser does not support the
                            <code>audio</code> element.
                    </audio>
                </figure>
            </div>
        </div>
        <div class="audio-container reveal-up">
            <div class="cover-album">
                <img class="image-fluid" src="{{ asset('images/portrait-thumbnail.jpg')}}" alt="" width="300">
            </div>
            <div class="track-container">
                <figure>
                    <figcaption>
                        <h3 class="title">I hope u r right (single)</h3>
                    </figcaption>
                    <audio
                        controls
                        src="{{asset('audio/hope-u-r-right-zamua.mp3')}}">
                            Your browser does not support the
                            <code>audio</code> element.
                    </audio>
                </figure>
            </div>
        </div>
        <div class="audio-container reveal-up">
            <div class="cover-album">
                <img class="image-fluid" src="{{ asset('images/brazilian-funk.jpg')}}" alt="" width="300">
            </div>
            <div class="track-container">
                <figure>
                    <figcaption>
                        <h3 class="title">Estate (B. Martino's cover)</h3>
                        <h4 class="title">from "Brazilian Funk Affair" album<h4>
                    </figcaption>
                    <audio
                        controls
                        src="{{asset('audio/estate-zamua.mp3')}}">
                            Your browser does not support the
                            <code>audio</code> element.
                    </audio>
                </figure>
                
            </div>
        </div>
    </div>

{%  endblock %}
{% block javascripts %}

    {{ parent()}}
   <script src="{{ asset('js/music.js')}}"></script>

{% endblock %}


