{% extends "base.html.twig" %}
{% block title %}
    ZAMUA | {% trans %}MUSIC{% endtrans %}
{% endblock %}


{% block body %}

        <div class="bg-main bg-main-music">
        <div class="container overlay">
            <div class="block-title">
                {% trans %}<h1><span class="title1"></span><span class="title2">Music</span><span class="title3"> is</span><span class="title-dots">...</span></h1>{% endtrans %}
                
            </div>
        </div>
        <div class="line-scroll">
            <a href="#toScroll">scroll</a>
            <div class="line"></div>
        </div>
    </div>

    <div id="toScroll"></div>
    <div class="music-first-section">
        
        <div class="container">
            <div class="block-text">
                <p class="mb-1 line-height-l font-size-l">
                {% trans %}
                    Music comes from urgency and a vital necessity to share one's voice, one's soul, one's presence.
                    <strong>A tool to develop a critical sense of our experience in the society in which we live.</strong> <br>
                    Making music focuses on the person who creates, who speaks and the person who listens; it is the beginning and the end of a cyclical path towards self-determination.
                    It is a medium for touching people's hearts, for communicating an image, an idea, a concept, for giving meaning to the perception of reality.
                {% endtrans %}
                </p>
                <p class="mb-1 line-height-l font-size-l">
                {% trans %}
                    <strong>Music creates bridges between the inner world and the outer world. It allows us to translate the secrets of the soul into a sensitive form, 
                    those secrets that we cannot explain but that sometimes succeed in escaping through the notes and rhythm.</strong>
                {% endtrans %}
                </p>
                
                <p class="mb-1 line-height-l font-size-l">
                {% trans %}    
                    <em>"I experience music almost maniacally, I have been doing it since I was a kid.
                    Through music, and particularly through singing, I am able to<strong>undertake a path of research and reflection on issues that are central to me, such as identity, </strong>, 
                    or rather, our identities, which are fluid, changeable, 
                    never identical to themselves, in a movement that destroys any idea of a physical or imaginary border between 'Us' and 'Them'".</em> 
                {% endtrans %}
                <p class="mb-1 line-height-l font-size-l">
                {% trans %}
                    <em>"Music has been, and still is, a fundamental element of my existence.
                    There is no musical genre, I start with my two instruments, the voice and the guitar. And from there I start to work, to build, to tell a story.
                    <strong>I try to give shape to an aesthetic, the framework of a journey through my musical universes such as soul, jazz, reggae, electronic music...
                    I let myself be crossed by this baggage and then give birth to deeply hybrid songs."</strong></em>
                {% endtrans %}
                </p>
                
            </div>
            {# <div class="block1 reveal-width"></div> #}
        </div>
        
    </div>

    
    <div class="music-second-section">
    
        <div class="ep-infos-container mb-1">

        
            {# <div class="img-ep reveal">
                
                <img class="image-fluid" src="{{ asset('images/pochette-ep.jpg')}}" alt="" width="350">
                
            </div> #}
            <div class="reveal-up">
                <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=2701316906/size=large/bgcol=ffffff/linkcol=333333/tracklist=false/transparent=true/" seamless><a href="https://zamua.bandcamp.com/album/litanie-ep">Litanie [EP] by Zamua</a></iframe>
                {# <iframe style="border: 0; width: 300px; height: 588px;" src="https://bandcamp.com/EmbeddedPlayer/album=2701316906/size=large/bgcol=ffffff/linkcol=e99708/transparent=true/" seamless><a href="https://zamua.bandcamp.com/album/litanie-ep">Litanie [EP] by Zamua</a></iframe> #}
                {# <iframe style="border: 0; width: 100%; height: 344px;" src="https://bandcamp.com/EmbeddedPlayer/album=2701316906/size=large/bgcol=333333/linkcol=e99708/artwork=none/transparent=true/" seamless><a href="https://zamua.bandcamp.com/album/litanie-ep">Litanie [EP] by Zamua</a></iframe> #}
            </div>
            

        </div>
        <div class="audio-container reveal-up">
            <div class="cover-album">
                <img class="image-fluid" src="{{ asset('images/ibelieve.jpg')}}" alt="" width="300">
            </div>
            <div class="track-container">
                <figure>
                    <figcaption>
                        <h3 class="title">I believe (single)</h3>
                    </figcaption>
                    <audio
                        controls
                        src="{{asset('audio/i-believe-zamua.mp3')}}">
                            Your browser does not support the
                            <code>audio</code> element.
                    </audio>
                </figure>
            </div>
        </div>
     
        <div class="audio-container reveal-up">
            <div class="cover-album">
                <img class="image-fluid" src="{{ asset('images/distance.jpg') }}" alt="" width="300">
            </div>
            <div class="track-container">
                <figure>
                    <figcaption>
                        <h3 class="title">Distance (single)</h3>
                    </figcaption>
                    <audio
                        controls
                        src="{{asset('audio/distance-zamua.mp3')}}">
                            Your browser does not support the
                            <code>audio</code> element.
                    </audio>
                </figure>
            </div>
        </div>
        <div class="audio-container reveal-up">
            <div class="cover-album">
                <img class="image-fluid" src="{{ asset('images/portrait-thumbnail.jpg')}}" alt="" width="300">
            </div>
            <div class="track-container">
                <figure>
                    <figcaption>
                        <h3 class="title">I hope u r right (single)</h3>
                    </figcaption>
                    <audio
                        controls
                        src="{{asset('audio/hope-u-r-right-zamua.mp3')}}">
                            Your browser does not support the
                            <code>audio</code> element.
                    </audio>
                </figure>
            </div>
        </div>
        <div class="audio-container reveal-up">
            <div class="cover-album">
                <img class="image-fluid" src="{{ asset('images/brazilian-funk.jpg')}}" alt="" width="300">
            </div>
            <div class="track-container">
                <figure>
                    <figcaption>
                        <h3 class="title">Estate (B. Martino's cover)</h3>
                        <h4 class="title">from "Brazilian Funk Affair" album<h4>
                    </figcaption>
                    <audio
                        controls
                        src="{{asset('audio/estate-zamua.mp3')}}">
                            Your browser does not support the
                            <code>audio</code> element.
                    </audio>
                </figure>
                
            </div>
        </div>
    </div>

{%  endblock %}
{% block javascripts %}

    {{ parent()}}
   <script src="{{ asset('js/music.js')}}"></script>

{% endblock %}


