{% extends "base.html.twig" %}
{% block title %}
    ZAMUA | {% trans %}VIDEOS {% endtrans %}
{% endblock %}


{% block body %}

       <div class="bg-main bg-main-video">
        <div class="container overlay">
            <div class="block-title">
                <h1>{% trans %}VIDEOS {% endtrans %}</h1>
                
            </div>
        </div>
        <div class="line-scroll">
            <a href="#toScroll">scroll</a>
            <div class="line"></div>
        </div>
    </div>
    
    <div id="toScroll"></div>
    <div class="video-first-section">
        
        <div class="container">

            
            {% if videos|length > 0 %}
        
            
                {% for video in videos %}

                    <div id="{{video.id}}" ></div>
                    <div class="video-container">
                        {% if is_granted('ROLE_ADMIN') %}                                                 
                            <div class="edit-action">
                                <a href="{{path('app_admin_video_edit', { id : video.id})}}"><i class="el-icon-edit"></i></a>
                            </div>
                        {% endif %}

                        <iframe width="560" height="315" src="{{video.src}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    
                {% endfor %}

        {% else %}
            <h3>Some videos will be posted very soon!</h3>
        {% endif %}
        </div>
        
    </div>
    <div class="divider align-center">
        <img class="image-fluid" src="{{asset('images/divider.png')}}" alt="" width="180">
    </div>

    <div class="video-second-section">
        <div class="wrapper-position">
            <div class="container-image">
                <div class="block-title">
                    <h2 class="reveal-up">{% trans %}A personal blend<br>of folk and soul-jazz{% endtrans %}</h2>
                    
                </div>
                <div class="block-1 reveal-up"></div>
                <div class="block-2 reveal-up"></div>
                <img class="reveal-up" src="{{ asset('/images/zamua-live.jpg')}}" alt="Zamua in concerto al festival 'Vulcani : Blues nel Montiferru'" width="">
                <div class="tooltip">
                    <span> photo by Diego Pani - Vulcani : Blues nel Montiferru</span>
                </div>
                
                <div class="block-btn">
                    <a href="{{ path('app_music')}}" class="btn-custom font-weight">{% trans %} MUSIC {% endtrans %}</a>
                </div>
                
            </div>
        </div>
            
    </div>

{%  endblock %}

