{% extends 'base.html.twig' %}

{% block title %}ADMIN | CONTACTS MANAGER{% endblock %}

{% block stylesheets %}
    {{parent()}}

    <link rel="stylesheet" href="{{ asset('css/admin.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/min/dropzone.min.css" integrity="sha512-WvVX1YO12zmsvTpUQV8s7ZU98DnkaAokcciMZJfnNWyNzm7//QRV61t4aEr0WdIa4pe854QHLTV302vH92FSMw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block body %}
<div class="bg-admin mb-4">
    <div class="container overlay">
        <div class="block-title">
            <h1 class="mb-2">CONTENT MANAGER</h1>
            <div class="add-section align-center">
                <a class="btn-admin" href="{{ path('app_admin')}}">back to admin</a>
            </div>
        </div>
    </div>
</div>

<div class="container contact-manager-section mb-4">
    
    {% if contacts|length > 0 %}
    
        {% for contact in contacts %}
            <div class="contact-item">
                 {% if contact.isDone %}
        
                    <div class="is-done-message">
                    
                        <h4 class"font-size-l">This message has been treated</h4>
                        <i class="el-icon-success is-done-badge font-size-xl"></i>    
                    </div>
                    
                {% endif %}
                <div class="font-size-l mb-1"><i class="el-icon-message"></i>: {{ contact.senderEmail }}</div>
                <div class="font-size-l mb-1"><i class="el-icon-user"></i>: {{ contact.senderName }}</div>
                <div class="content-message font-size-l mb-2"><i class="el-icon-chat-line-square"></i>: "{{ contact.content|u.truncate(50, '...')}}"</div>
                
                <div class="align-center">
                    <a class="btn-admin mb-1 mr-1" href="{{ path('app_admin_contact_ui', {id : contact.id})}}">see</a>
                    <a class="btn-admin mb-1" href="{{ path('app_admin_contact_delete', { id : contact.id })}}"><ion-icon name="trash-outline"></ion-icon></a>
                </div>
                
            </div>
        {% endfor %}
    {% else %}
        <h3>You don't have recieved any messages yet!</h3>
    {% endif %}
    
    
</div>
    
        
</div>
{% endblock %}



{% block footer %}{% endblock %}
