{% extends 'base.html.twig' %}

{% block title %}ADMIN | EDIT PROJECT TRANSLATION{% endblock %}

{% block stylesheets %}
    {{parent()}}

    <link rel="stylesheet" href="{{ asset('css/admin.css')}}">
{% endblock %}

{% block body %}
<div class="bg-admin mb-4">
    <div class="container overlay">
        <div class="block-title">
            <h1 class="mb-2 mt-4">EDIT PROJECT TRANSLATION</h1>
            <h2 class="mb-2">{{projectTranslation.project.mainTitle}}</h2>
            <div class="add-section align-center">
                <a class="btn-admin" href="{{ path('app_admin')}}">back to admin</a>    
                <a class="btn-admin" href="{{ path('app_admin_project_list')}}">project list</a>
            </div>
        </div>
    </div>
</div>


<div class="container project-section">

    {{ include('admin/_project-translate-edit-form.html.twig', {
        button_text : 'Update',
    })}}
</div>
{% endblock %}

{% block footer %}{% endblock %}
