{% extends 'base.html.twig' %}

{% block title %}ADMIN | NEW VIDEO {% endblock %}
{% block stylesheets %}
    {{parent()}}

    <link rel="stylesheet" href="{{ asset('css/admin.css')}}">
{% endblock %}

{% block body %}
<div class="bg-admin mb-4">
    <div class="container overlay">
        <div class="block-title">
            <h1 class="mb-2">NEW VIDEO</h1>
            <div class="add-section align-center">
                <a class="btn-admin" href="{{ path('app_admin')}}">back to admin</a>
                <a class="btn-admin" href="{{ path('app_admin_show_list')}}">video list</a>
            </div>
        </div>
    </div>
</div>

<div class="container video-section">
{{ include('admin/_video-form.html.twig', {
    'priority' : videoPriority,
    'button_text' : 'Create'
})}}
</div>
{% endblock %}

{% block footer %}{% endblock %}
