{% extends 'base.html.twig' %}

{% block title %}ADMIN | PLAYLIST LIST {% endblock %}
{% block stylesheets %}
    {{parent()}}

    <link rel="stylesheet" href="{{ asset('css/admin.css')}}">
{% endblock %}

{% block body %}
    <div class="bg-admin">
        <div class="container overlay">
            <div class="block-title">
                <h1 class="mb-4">PLAYLIST LIST</h1>
                <div class="add-section align-center">
                    <a class="btn-admin" href="{{ path('app_admin')}}">back to admin</a>
                    <a class="btn-admin" href="{{ path('app_admin_playlist_new')}}">add a playlist</a>
                </div>
            </div>
            
        </div>
    </div>

    <div class="mt-4 container container">

        {% if playlists|length > 0 %}
        
            
            {% for aPlaylist in playlists %}
                <div class="align-center admin-card">
                    

                    <div class="url-container mb-3">
                        <h3 class="mb-2">{{aPlaylist.title}}</h3>
                        <p class="mb-1">>{{aPlaylist.description}}</p>  
                        <div class="mb-2">{{aPlaylist.iframe|raw}}  </div>

                        <a class="btn-admin" href="{{aPlaylist.url}}">listen into spotify</a>
                    </div>

                    <div>
                        <a class="btn-admin mb-1" href="{{path('app_admin_playlist_edit', { id : aPlaylist.id})}}">EDIT</a>
                        <a class="btn-admin alert-danger mb-1" href="{{path('app_admin_playlist_delete', { id : aPlaylist.id})}}">DELETE</a>
                    </div>
                   

                    

                </div>    
            {% endfor %}
                
            
        {% else %}
            <h3>You don't have any playlist yet!</h3>
        {% endif %}
        

    </div>
{% endblock %}

{% block footer %}{% endblock %}
