{% extends 'base.html.twig' %}

{% block title %}ADMIN | PROJECT LIST {% endblock %}
{% block stylesheets %}
    {{parent()}}

    <link rel="stylesheet" href="{{ asset('css/admin.css')}}">
{% endblock %}

{% block body %}
    <div class="bg-admin">
        <div class="container overlay">
            <div class="block-title">
                <h1 class="mb-4">PROJECT LIST</h1>
                <div class="add-section align-center">
                    <a class="btn-admin" href="{{ path('app_admin')}}">back to admin</a>
                    <a class="btn-admin" href="{{ path('app_admin_project_new')}}">add a project</a>
                </div>
            </div>
            
        </div>
    </div>

    <div class="mt-4 container show-list-container">

        {% if projects|length > 0 %}
        
            
            {% for project in projects %}
                <div class="align-center admin-card">
                    
                    <h3 class="project-title"> {{project.mainTitle}} </h3>
                    
                
                   

                    <a class="btn-admin mb-2 d-block" href="{{path('app_admin_project_edit', { id : project.id})}}">EDIT</a>
                    <div class="action-translate mb-2">
                    
                    <span class="d-block">TRANSLATIONS</span>
                    {% if project.translations|length == 2 %}
                        {% for translation in project.translations %}
                             <a class="btn-admin mb-1" href="{{path('app_admin_edit_trans_project', { id : translation.id})}}">{{translation.language}}</a>
                        
                        {% endfor %} 
                    {% elseif project.translations|length == 1 %}
                        {% for translation in project.translations %}
                             <a class="btn-admin mb-1" href="{{path('app_admin_edit_trans_project', { id : translation.id})}}">{{translation.language}}</a>
                        
                        {% endfor %}
                        <a class="btn-admin mb-1" href="{{path('app_admin_trans_project', { id : project.id })}}"><i class="el-icon-plus"></i></a>

                    {% else %}
                        <a class="btn-admin mb-1" href="{{path('app_admin_trans_project', { id : project.id })}}"><i class="el-icon-plus"></i></a>
                    {% endif %}
                    
                    </div>
                    <a class="d-block mb-2" href="{{path('app_projects')}}"><i class="el-icon-view"></i> public view</a>

                </div>    
            {% endfor %}
                
            
        {% else %}
            <h3>You don't have any project yet!</h3>
        {% endif %}
        

    </div>
{% endblock %}

{% block footer %}{% endblock %}
