{% apply inline_css(source('@css/email.css')) %}
<img src="{{ email.image('@images/logo.png') }}" alt="Logo">
<h1>Hi Zamua!</h1>
<p>
    A user sent you a message from you website
</p>
<p>
    Username : {{ userName }} - <a href="mailto:{{ userEmail }}">{{ userEmail }}</a>
</p>
<p>
    Message: <br>
    <em>"{{ message }}"</em>
</p>

<a href="https://zamuamusic.com/admin/contactManager">Go to your contact manager inferface</a>
{% endapply %}