<!DOCTYPE html>
<html>
    <head prefix="og: http://ogp.me/ns#">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="title" content="Zamua soul and folk song-writer">
        <meta name="description" content="Zamua is an italian and burundian song-writer, singer and guitarist based in Paris. His music is a fusion between pop-folk and soul-jazz.">
        <meta name="keywords" content="Soul, jazz, folk, black  music">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block opengraph %}

        <meta property="og:url"           content="{{ app.request.getSchemeAndHttpHost() }}" />
        <meta property="og:type"          content="website" />
        <meta property="og:title"         content="Zamua - soul and folk song-writer" />
        <meta property="og:description"   content="Zamua is an italian and burundian song-writer, singer and guitarist based in Paris. His music is a fusion between pop-folk and soul-jazz." />
        <meta property="og:image"         content="https://skillsfactor.io/images/logo-zamua.png" />

        {% endblock %}

        {# no index outside prod #}
        {% if not('zamuamusic.com' in app.request.getSchemeAndHttpHost()) %}   
            <meta name="robots" content="noindex, nofollow">
        {% endif %}
        <title>{% block title %}ZAMUA{% endblock %}</title>
        
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Liu+Jian+Mao+Cao&family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon/favicon_zamua.ico') }}" />

    </head>

    <body class="{% if 'app_admin' in app.request.attributes.get('_route')%}admin{% endif %}">
        <div class="loader-wrapper">
            <div class="block-loader"></div>
            <img src="{{ asset('images/logo.png')}}" class="image-fluid animation" alt="">
        </div>
        <div class="navigation-panel" id="main-panel">
            <div id="icon-container">
                <i class="el-icon-circle-close"></i>
            </div>
            <ul>
                <div class="switch-language reveal-up mb-2 mobile-view">
                {% for locale in locales %}
                    {% if locale != app.request.locale %}
                
                    <a href="{{ path('app_change_locale', {'locale': locale}) }}">{{ locale }}</a> 
                    {% endif %}
                    
                {% endfor %}
                </div> 
                {% if app.user %}
                <li class="btn-logout ">
                    <a href="{{ path('app_logout')}}">LOGOUT</a>
                </li>
                {% endif %}
                {% if is_granted("ROLE_ADMIN") %}
                
                <li class="navigation-panel-item reveal-up">
                    <a href="{{ path('app_admin')}}"><i class="el-icon-setting"></i> Admin</a>
                </li>
                {% endif %}
                
                <li class="navigation-panel-item reveal-up">
                    <a href="{{ path('app_home')}}">HOME</a>
                </li>
                <li class="navigation-panel-item  reveal-up">
                    <a href="{{ path('app_bio')}}">BIO</a>
                </li>
                <li class="navigation-panel-item reveal-up">
                    <a href="{{ path('app_music')}}">{% trans %} MUSICA {% endtrans %}</a>
                </li>
                <li class="navigation-panel-item  reveal-up">
                    <a href="{{ path('app_shows')}}">SHOWS</a>
                </li>
                {# <li class="navigation-panel-item reveal-up">
                    <a href="{{ path('app_listenings')}}">I MIEI ASCOLTI</a>
                </li> #}
                <li class="navigation-panel-item reveal-up">
                    <a href="{{ path('app_gallery')}}">{% trans %} GALLERIA {% endtrans %}</a>
                </li>
                <li class="navigation-panel-item reveal-up">
                    <a href="{{ path('app_video')}}">{% trans %} VIDEO {% endtrans %}</a>
                </li>
                <li class="navigation-panel-item reveal-up">
                    <a href="{{ path('app_projects')}}">{% trans %} PROGETTI {% endtrans %}</a>
                </li>
                <li class="navigation-panel-item reveal-up">
                    <a href="{{ path('app_contact')}}">{% trans %} CONTATTI {% endtrans %}</a>
                </li>
                <li class="navigation-panel-item reveal-up">
                    <a href="{{ path('test', { locale : app.request.locale })}}">{% trans %} TEST {% endtrans %}</a>
                </li>
                
            </ul>
        </div>
        <header>
            <div id="brand-logo">
                <a href="{{ path('app_home')}}">
                    <img class="ml-2 first" src="{{asset('images/logo.png')}}" alt="" width="180">
                    <img class="ml-2 second" src="{{asset('images/logo.png')}}" alt="" width="120">
                </a>
            </div>

            
            
            <div class="menu">
                <div class="switch-language reveal-up mb-2 no-mobile-view">
                {% for locale in locales %}
                    {% if locale != app.request.locale %}
                
                    <a href="{{ path('app_change_locale', {'locale': locale}) }}">{{ locale }}</a> 
                    {% endif %}


                    
                {% endfor %}
                </div> 
                <div class="active-page">
                    {% if activeName is defined %}
                        <p class="uppercase">{{ activeName }}</p>

                        {% else %}
                            <p>HOME</p>
                    {% endif %}
                    
                    
                    <div class="active-block"></div>
                </div>
                <div class="burger" id="burger-panel">
                    <div class="stroke burger1"></div>
                    <div class="stroke burger2"></div>
                    <div class="stroke burger3"></div>
                </div>
            </div>
        </header>

        {% for message  in app.flashes('success')%}
            <div class="alert-general alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message  in app.flashes('warning')%}
            <div class="alert-general alert alert-warning">
                {{ message }}
            </div>
        {% endfor %}
        {% for message  in app.flashes('error')%}
            <div class="alert-general alert alert-danger">
                Error: {{ message }}
            </div>
        {% endfor %}
        {% for message  in app.flashes('danger')%}
            <div class="alert-general alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        {% block body %}{% endblock %}
        {% if is_granted("ROLE_ADMIN") %}
        
            <div class="sticky-to-admin-container">
                <a class="btn-to-admin-section" href="{{ path('app_admin')}}">
                    <i class="el-icon-setting"></i>
                </a>
            </div>
        {% endif %}
        
        
        <div class="scroll-to-top">
            <i class="el-icon-top"></i>
        </div>

        {% block footer %}
        
            <footer>
                <div>
                    <h4>© 2022 - ZAMUA</h4>
                </div>
                <section class="social-media">
                    <a href="https://www.facebook.com/zamua.haleri">
                        <ion-icon name="logo-facebook" class="social-icon"></ion-icon>
                    </a>
                    <a href="https://www.instagram.com/zamua_haleri/">
                        <ion-icon name="logo-instagram" class="social-icon"></ion-icon>
                    </a>
                    <a href="https://www.youtube.com/user/ZamuaMusic">
                        <ion-icon name="logo-youtube" class="social-icon"></ion-icon>
                    </a>
                </section>
                <section class="legal-section">
                    <ul>
                        <li class="mb-1">
                            <a href="{{path('app_cookies')}}">{% trans %} Privacy e Cookies Policy {% endtrans %}</a>
                        </li>
                    </ul>
                </section>
            </footer>
        {% endblock %}
        

       {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        
            
            <!-- import du JavaScript -->
        
            <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
            <script src="https://unpkg.com/element-ui/lib/index.js"></script>

            <script>

                window.addEventListener("load", function () {
                    window.cookieconsent.initialise({
                        "content": {
                            "message": "Questo sito utilizza i cookies per finalità tecniche e al fine di migliorare la vostra esperienza di navigazione.\n\
                                <a href='{{ path('app_cookies') }}' class='cc-link' target='_blank'>Per maggiori informazioni</a>",
                            "dismiss": "Ok",
                            "allow" : "OK",
                            "deny" : "Rifiuto",
                            "link": "",
                            "href": "{{ path('app_home') }}"
                        },
                        "palette": {
                            "popup": {
                                "background": "var(--color-primary)",
                                "text" : "#000"
                            },
                            "button": {
                                "background": "#000",
                                "text" : "var(--color-primary)",
                                "border" : "#000",
                            },
                        },
                        "position": "bottom",
                        
                    });

                    


                });

            </script>

        {% endblock %}
    </body>
</html>
